
## Public token to fetch repository on production
export GH_READONLY_TOKEN=YOUR_TOKEN

export GH_REPO_OWNER=AndroidDagashi
export GH_REPO_NAME=androiddagashi.github.io

export BASE_URL=https://androiddagashi.github.io
