
## Public token to fetch repository on production
export GH_READONLY_TOKEN=YOUR_TOKEN

## release-tweeter
export TWITTER_API_KEY=
export TWITTER_API_KEY_SECRET=
export TWITTER_ACCESS_TOKEN=
export TWITTER_ACCESS_TOKEN_SECRET=
