.md-body {
  word-break: break-all;

  a {
    text-decoration: none;
    color: #0366d6
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: 4px;
  }

  ul {
    padding-left: 16px;
    padding-right: 16px;
  }

  blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }
}

.v-list--three-line .v-list__tile__sub-title {
  /* workaround for https://github.com/vuetifyjs/vuetify/issues/5235 */
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
