@require '~vuetify/src/stylus/settings/_colors'

$theme := {
  primary:     $red.darken-2
  accent:      $red.accent-2
  secondary:   $grey.lighten-1
  info:        $blue.lighten-1
  warning:     $amber.darken-2
  error:       $red.accent-4
  success:     $green.lighten-2
}

// Import Vuetify styling
@require '~vuetify/src/stylus/main'

.issue-body, .comment-body {
  word-break: break-all;

  a {
    text-decoration: none;
    color: #0366d6
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: 4px;
  }

  ul {
    padding-left: 16px;
    padding-right: 16px;
  }

  blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }
}
