name: Build Website
on:
  push:
    branches-ignore:
      - master
      - development
      - 'renovate/**'
  pull_request:

jobs:
  build:
    name: Build Website
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Tokyo
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # run corepack before setup mise
      # https://github.com/actions/setup-node/issues/899
      - run: corepack enable yarn

      - name: Setup mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      - name: install dependencies
        run: |
          node --version
          corepack enable yarn
          yarn install

      - name: Generate website
        run: yarn workspace site exec nuxi build --preset github_pages
