name: Deploy Website
on:
  workflow_dispatch:
  push:
    branches:
      - development

jobs:
  deploy_site:
    name: Deploy Website
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Tokyo
      GH_READONLY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PROJECT_USER_NAME: AndroidDagashi
      PROJECT_REPO_NAME: androiddagashi.github.io

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: development
          persist-credentials: false

      # run corepack before setup mise
      # https://github.com/actions/setup-node/issues/899
      - run: corepack enable yarn

      - name: Setup mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      - name: install dependencies
        run: |
          node --version
          corepack enable yarn
          yarn install

      - name: Generate website
        run: yarn workspace site exec nuxi build --preset github_pages

      - name: Deploy website
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          personal_token: ${{ secrets.PUSH_ACCESS_TOKEN }}
          publish_dir: ./packages/site/.output/public
          publish_branch: master
          force_orphan: true
          user_name: 'AndroidDagashi store staff'
          user_email: 'androiddagashi-bot@users.noreply.github.com'

      - name: Print debug info
        if: failure()
        run: |
          git remote
          git status
